div.form_top_left {
	padding: 25px;		
	height: 400px;
	width: 50%;
	float: left;
}

div.form_top_right {
	padding: 25px;
	height: 400px;
	width: 50%;
	float: left;
	
}

div.form_bottom {
	padding: 25px;
	float: initial;
	clear: both;
}


textarea {
	height: 300px;
}

div.submit {
	padding: 25px;
}



img {
	max-width: 400px;
	max-height: 400px;
}

